@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Arvo|Dosis');

:root {
	--RichBlue: #0128ff;
	--VioletBlue: #2b00bf;
	--CobaltBlue: #0047ab;
	--MidnightBlue: #0a0d40;
	--PurpleBlue: #6519dd;
	--MintGreen: #3eb489;
	--Cyan: #46ffd3;
	--LightMint: #b6ffbb;
	--Charcoal: #1d1d1d;
	--RedOrange: #ff3f34;
	--Cream: #ffffe4;
	--White: #fff;
	--Black: #000;
}

/* initial reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.09em;
}

/* default style declaration */
body {
	font-family: 'Playfair Display', Arvo, Dosis, sans-serif;
	font-size: 16px;
	background-color: var(--Charcoal);
	color: var(--Cream);
}

header {
	display: grid;
	grid-template-columns: 3em 1fr 1fr 3em;
	grid-template-rows: 2em 1fr 2em;
}

.header-logo {
	grid-column: 2;
	grid-row: 2;
	border-radius: 50%;
}
.header-nav {
	grid-column: 3;
	grid-row: 2;
	align-self: center;
	justify-self: end;
}

.header-nav li {
	display: inline;
	font-size: 1.5em;
	margin-left: 1em;
}

.header-nav a {
	text-decoration: none;
	color: var(--Cream);
}

.header-nav .active {
	text-decoration: underline;
}

/* main section */
.content {
	display: grid;
	grid-template-columns: 10em 20em 1fr 20em;
	grid-template-rows: 15em 1fr;
}

.side-bar {
	grid-row: 2;
	text-align: center;
}

.side-bar li {
	margin-bottom: 4em;
}

.logo {
	width: 35px;
}

.content .hero {
	grid-column: 3;
	grid-row: 2;
}
