@import url('./variables.css ');
@import url('./animations.css');
@import url('./header.css');
@import url('./experience.css');
@import url('./project.css');

* {
	box-sizing: border-box;
	font-family: var(--Lato), sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--Charcoal);
	color: var(--Cream);
	display: grid;
	grid-template-columns: 225px 1fr 175px;
	grid-template-rows: 85px 1fr;
	letter-spacing: 3px;
}

.ring-pattern {
	margin-left: -250px;
	margin-top: 50px;
}

.content-container {
	grid-row: 2;
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 50px 3px 50px 450px 50px 3px 50px 700px 50px 3px 50px 600px;
}

.content-divider {
	grid-row: 3;
	background: linear-gradient(to right, var(--MintGreen), var(--CobaltBlue), var(--PurpleBlue), var(--BrightMint));
	animation: gradient-animation 5s ease infinite;
	background-size: 400% 400%;
}

.content-divider2 {
	grid-row: 7;
	background: linear-gradient(to right, var(--VioletBlue), var(--LightMint), var(--CssBlue), var(--Cyan));
	animation: gradient-animation 5s ease infinite;
	background-size: 400% 400%;
}

.content-divider3 {
	grid-row: 11;
	background: linear-gradient(to left, var(--CssBlue), var(--CobaltBlue), var(--ReactBlue), var(--PurpleBlue));
	animation: gradient-animation 5s ease infinite;
	background-size: 400% 400%;
}

.header-content {
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr;
}

.experience-content {
	grid-row: 5;
	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 75px 50px 125px 50px 125px;
}

.project-content {
	grid-row: 9;
}

.contact-form {
	grid-row: 13;
}